@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Actor:400,1000);

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Italic', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#carousel {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 550px; 
	height: 330px;
}

#carousel ul {
	width: 2000px;
	padding: 0;
	margin: 0;
	list-style: none
}

#carousel ul li {
	width: 550px;
	text-align: center;
	height: 330px;
	list-style: none
	float: left;
}


#directions {
	text-align: center;
}

#left-button, #right-button {
	display: inline-block;
	cursor: pointer;
	margin: 10px;
}